*{
  font-family: 'Rubik', sans-serif;
font-family: 'Space Mono', monospace;
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif,'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
